<mat-card>
<mat-card-title>{{ todo.name }}</mat-card-title>
<mat-card-subtitle *ngIf="todo.complete">Complete</mat-card-subtitle>
<mat-card-actions>
  <button mat-button color="accent" *ngIf="!todo.complete" (click)="complete()">Complete</button>
  <button mat-button color="accent" *ngIf="todo.complete" (click)="uncomplete()">Uncomplete</button>
  <!-- <button mat-button color="accent" [routerLink]="[todo.id, 'edit']">Edit</button> -->
  <button mat-button color="accent" (click)="edit()">Edit</button>
  <button mat-button color="warn" (click)="delete()">Delete</button>
</mat-card-actions>
</mat-card>
